<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-installapp"
    version="1.0.42">
	
    <name>Cordova InstallApp plugin</name>
    <description>Cordova InstallApp plugin</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>		
    <license>MIT</license>
    <keywords>cordova,plugin,installapp</keywords>
    <repo>https://github.com/cranberrygame/cordova-plugin-installapp</repo>
    <issue>https://github.com/cranberrygame/cordova-plugin-installapp/issues</issue> 	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
	
    <dependency id="org.apache.cordova.inappbrowser" />	
	
    <js-module src="www/installapp.js" name="installapp">
        <clobbers target="window.installapp"/>
    </js-module>
	
    <!-- android -->
    <platform name="android">
	    <config-file target="res/xml/config.xml" parent="/*">
            <feature name="InstallApp" >
                <param name="android-package" value="com.cranberrygame.cordova.plugin.InstallApp"/>
            </feature>
        </config-file>
		
        <source-file src="src/android/InstallApp.java" target-dir="src/com/cranberrygame/cordova/plugin" />

<!--
		lib example
	    <source-file src="src/android/AdBuddiz-2.3.3.jar" target-dir="libs" />
-->		

    </platform>
	
    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="InstallApp">
                <param name="wp-package" value="InstallApp"/>
            </feature>
        </config-file>

        <source-file src="src/wp8/InstallApp.cs" />
    </platform>	
</plugin>